a#table-view href="/companies/search/?#{request.query_string}&view=table" title="Try Table View" dat-toggle="tooltip" data-placement="left" data-remote='true'
  i.fa.fa-list-alt
a#grid-view href="/companies/search/?#{request.query_string}&view=grid"  data-toggle="tooltip" title="Try Grid View" data-placement="right" data-remote='true'
  i.fa.fa-table
