// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
.modal-link{
    color: black;
    background-color: white;
    height: 35px;
    text-decoration: none;
    font-family: "Helvetica, Verdana, Arial, sans-serif";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 40%;
    right: -50px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5), 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 10px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px rgba(255, 255, 255, 0.25) inset, 0px -15px 30px rgba(0, 0, 0, 0.3) inset;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    transition-duration: 0.1s;
    &:hover, &:focus{
      text-decoration: none;
    }
}
