.page-header
  h1 Decisions

= link_to 'Companies', comparison_path
br
= link_to 'BLS Industry Data', bls_industries_path
br
= link_to 'Industries', industries_path
br
= link_to 'Occupations', occupations_path
br
= link_to 'Market Salary', market_salaries_path
